The following fragment need to be added to the web.xml of a Greenfield Times-based application to add the Monitoring Servlet.

...


  <filter>
    <filter-name>pathtocmservletfilter</filter-name>
    <filter-class>com.polopoly.siteengine.dispatcher.servletmapper.UrlToServletMapperFilter</filter-class>
    <init-param>
      <param-name>urlPattern</param-name>
      <param-value>(?!(?:(?:/se)|(?:/cm)|(?:/preview) 
...

This entry is new:
 
|(?:/monitor)

...

(?:/rendertools)|(?:/util))(?:\z|/)).*\z</param-value>
    </init-param>
    <init-param>
      <param-name>servletName</param-name>
      <param-value>/cm</param-value>
    </init-param>
  </filter>


  <servlet>
    <servlet-name>MonitoringServlet</servlet-name>
    <servlet-class>com.polopoly.ps.monitor.MonitoringServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>MonitoringServlet</servlet-name>
     <url-pattern>/monitor</url-pattern>
  </servlet-mapping>
